body, .document {
  font: 24px 'EB Garamond';
  
  margin: 0;
  padding: 0;
  // ok 
}

#container {
  padding: 10px 20px;    
}

h1 {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  > div {
    width: 50%;
    height: 100%;
  }
}