@use "@nota-lang/nota-common/dist/index" as *;

@font-face {
  font-family: "JMH Beda";
  src: url("./fonts/jmh_beda-webfont.woff2") format("woff2"),
    url("./fonts/jmh_beda-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Medieval Victoriana No.1";
  src: url("./fonts/mevno1-webfont.woff2") format("woff2"),
    url("./fonts/mevno1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "@nota-lang/nota-components/dist/index.css";
@import "@nota-lang/nota-editor/dist/index.css";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Inconsolata:wght@400;700&display=swap');

$serif: "EB Garamond", serif;
$monospace: "Inconsolata", monospace;

body {
  font: normal 20px $serif;
  padding: 2rem 1rem 6rem;

  @include mobile {
    padding: 0.5rem 1rem;
  }
}

header {
  padding: 1rem 0;
  margin: 0 auto 3rem;

  @include monitor {
    width: $mobile-cutoff;
    display: flex;
    justify-content: space-between;
  }

  @include mobile {
    margin-bottom: 0;
  }

  > * {
    align-self: center;
  }

  .logo {
    font-size: 72px;
    font-family: "JMH Beda", $serif;
    margin: 0;

    @include mobile {
      text-align: center;
    }
    
    a {
      color: black;
      text-decoration: none;
    }

    .fancy {
      vertical-align: middle;
      font-weight: 400;
      font-family: "Medieval Victoriana No.1", $serif;
    }
  }

  nav {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    gap: 0.5rem 1.5rem;
    flex-wrap: wrap;
    
    @include mobile {
      margin-top: 1rem;
      width: 100%;
      justify-content: space-around;
    }

    a {
      display: inline-block;
      color: black !important;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nota-document {
  position: relative;

  @include monitor {
    width: $mobile-cutoff;
    margin: 0 auto;

    .nota-document {
      width: auto;
    }
  }

  .ref {
    color: black;
  }

  .toc-wrapper {
    @include monitor {
      $width: 300px;
      position: absolute;
      z-index: 999;
      width: $width;
      right: -($width + 80px);
      top: 0;
      height: 100%;
      text-align: left;    

      .toc {
        position: sticky;
        top: 2rem;    
      }
    }
   
    @include mobile {
      margin: 2rem 0;

      .toc {
        border: 2px solid black;
        padding: 1rem;
      }
    }

    .toc {      
      > ol {
        margin-left: 0;
        margin-bottom: 0;      
        padding-left: 1rem;

        > li:not(:last-child) {
          margin-bottom: 1rem;
        }
        
        ol {
          margin: 0 0 0.5rem -0.5rem;
          list-style-type: lower-alpha;
        }
      }

      &::before {
        content: "Contents";
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  code {
    font-size: 92%;
    font-family: $monospace;
  }

  .nota-editor-text {
    font-family: $serif;
    font-size: 110%;
  }

  .cm-activeLine,
  .cm-activeLineGutter {
    background-color: transparent !important;
  }

  ul, ol {
    margin: 1rem 0.5rem;
  }

  .nota-code {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
    margin: 2rem 0;
    background: white;
    z-index: 1000;

    $normal-border: 3px solid #ccc;
    $fancy-border: 3px solid black;

    border: $normal-border;
    &.fancy {
      border: $fancy-border;
      margin-bottom: 3rem;
    }

    @include mobile {
      flex-direction: column;
      padding: 0.5rem 0.75rem;
      
      &.fancy {
        margin-top: 1rem;
      }
    }

    @include monitor {
      $width: $mobile-cutoff + 100px;
      width: $width;
      position: relative;
      right: calc(($width - $mobile-cutoff) / 2);

      &.fancy {
        $width: 80vw;
        width: $width;
        position: relative;
        right: calc(($width - $mobile-cutoff) / 2);
        height: 600px;
      }

      .nota-editor,
      .nota-document,
      .js-view {
        max-height: 560px;
        overflow-y: auto;
      }
    }

    > .nota-editor {
      flex: 55%;
    }

    > .output {
      flex: 45%;
      position: relative;

      @include monitor {
        border-right: $normal-border;
        padding-right: 2rem;
        margin-right: 1rem;
        width: 45%;
      }

      @include mobile {
        border-bottom: $normal-border;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
      }

      .toggle-output {
        position: absolute;

        @include mobile {
          right: 0;
          bottom: 1rem;
        }

        @include monitor {
          bottom: 0;
          right: 1rem;
        }
      }
    }
  }

  .rest {
    font-size: 22px;
    @include monitor {
      width: $mobile-cutoff;
      margin: 0 auto;
    }
  }

  .cm-editor {
    font-size: 85%;

    .nota-text {
      font-family: $serif;
      font-size: 108%;
    }
  }

  img.flourish {
    position: absolute;
    width: 60px;
    bottom: -14px;
    left: -9px;
    background: white;

    @include mobile {
      display: none;
    }
  }

  button {
    font: 16px $serif;
    border: 1px solid black;
    background: white;
    font-weight: bold;
    padding: 3px 8px;
    cursor: pointer;

    &:hover {
      color: white;
      background: black;
    }
  }

  h1 {
    font-size: 48px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  section {
    margin-top: 6rem;

    section {
      margin-top: 4rem;
    }

    h2 {
      font-size: 32px;
      border-bottom: 2px solid black;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 0.5rem;
    }
  }

  table.translation-examples {
    margin: 1rem 0;
    border-spacing: 0;

    th {
      border-bottom: 1px solid black;
    }

    tr:nth-child(even) {
      background: #f5f5f5;
    }

    td:first-child {
      padding-right: 2rem;      
    }

    td, th {
      padding: 0.25rem;
    }
  }
 
  .listing {
    margin: 1rem 0;
  }

  p {
    margin: 0.5rem 0;
  }
}
