$cutoff: 800px;


@mixin mobile {
  @media (max-width: ($cutoff - 1)) { @content; }
}

@mixin monitor {
  @media (min-width: $cutoff) { @content; }
}

$serif: 'EB Garamond', serif;

body, .document {
  font: 20px $serif;
  
  margin: 0;
  padding: 0;
}

.document {
  ul {
    margin: 0.5rem;
  }
}

#container {
  padding: 1rem 2rem;    
}

h1 {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  border: 3px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0;

  @include mobile {
    flex-direction: column;
  }

  > .editor {
    flex: 55%; 
  }

  > .output {
    flex: 45%;

    @include monitor {
      border-right: 3px solid #eee;
      padding-right: 2rem;
      margin-right: 1rem;
    }

    @include mobile {
      border-bottom: 3px solid #eee;
      padding-bottom: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.rest {
  font-size: 22px;
  @include monitor {
    width: $cutoff;
    margin: 0 auto;
  }
}

.cm-editor {
  font-size: 85%;

  .nota-text {
    font-family: $serif;
    font-size: 108%;
  }
}